.cropper-container {
  direction: ltr;
  font-size: 0;
  line-height: 0;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: none;
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cropper-wrap-box {
  overflow: hidden;
}

.cropper-canvas img {
  display: block;
  width: 100%;
  height: 100%;
  max-width: none !important;
  max-height: none !important;
  image-rendering: optimizeQuality;
}

.cropper-drag-box {
  opacity: 0;
  background-color: #fff;
}

.cropper-modal {
  opacity: 0.5;
  background-color: #000;
}

.cropper-view-box {
  display: block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  outline: 1px solid #39f;
  outline-color: rgba(51, 153, 255, .75);
}

.cropper-dashed {
  position: absolute;
  border: 0 dashed #eee;
  display: none;
}

.cropper-dashed.dashed-h {
  top: 33.33333%;
  border-top-width: 1px;
  border-bottom-width: 1px;
  left: 0;
  right: 0;
}

.cropper-dashed.dashed-v {
  left: 33.33333%;
  border-left-width: 1px;
  border-right-width: 1px;
  top: 0;
  bottom: 0;
}

.cropper-center {
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
}

.cropper-center:before,
.cropper-center:after {
  position: absolute;
  display: block;
  content: " ";
  background-color: #eee;
}

.cropper-center:before {
  top: -3px;
  left: 0;
  width: 7px;
  height: 1px;
}

.cropper-center:after {
  top: 0;
  left: -3px;
  width: 1px;
  height: 7px;
}

.cropper-face,
.cropper-line,
.cropper-point {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.1;
}

.cropper-face {
  background-color: #fff;
}

.cropper-line {
  background-color: #39f;
}

.cropper-line.line-e {
  top: 0;
  bottom: 0;
  right: -3px;
  width: 5px;
  cursor: ew-resize;
}

.cropper-line.line-n {
  top: -3px;
  left: 0;
  right: 0;
  height: 5px;
  cursor: ns-resize;
}

.cropper-line.line-w {
  top: 0;
  bottom: 0;
  left: -3px;
  width: 5px;
  cursor: ew-resize;
}

.cropper-line.line-s {
  bottom: -3px;
  left: 0;
  right: 0;
  height: 5px;
  cursor: ns-resize;
}

.cropper-point {
  background-color: #39f;
  width: 5px;
  height: 5px;
  opacity: .75;
}

.cropper-point.point-e {
  top: 50%;
  right: -3px;
  cursor: ew-resize;
  margin-top: -3px;
}

.cropper-point.point-n {
  top: -3px;
  left: 50%;
  cursor: ns-resize;
  margin-left: -3px;
}

.cropper-point.point-w {
  left: -3px;
  top: 50%;
  cursor: ew-resize;
  margin-top: -3px;
}

.cropper-point.point-s {
  bottom: -3px;
  left: 50%;
  cursor: ns-resize;
  margin-left: -3px;
}

.cropper-point.point-ne {
  top: -3px;
  right: -3px;
  cursor: nesw-resize;
}

.cropper-point.point-nw {
  top: -3px;
  left: -3px;
  cursor: nwse-resize;
}

.cropper-point.point-sw {
  bottom: -3px;
  left: -3px;
  cursor: nesw-resize;
}

.cropper-point.point-se {
  right: -3px;
  bottom: -3px;
  width: 20px;
  height: 20px;
  cursor: nwse-resize;
  opacity: 1;
}

.cropper-point.point-se:before {
  position: absolute;
  right: 1px;
  bottom: 1px;
  display: block;
  width: 6px;
  height: 6px;
  content: " ";
  opacity: 1;
  background-color: #39f;
}

.cropper-invisible {
  opacity: 0;
}

.cropper-bg {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAHpJREFUKJFjZKAQMFKon4GB4T8DAwMDA8N/MDAw+A8jAyMbCwMDAwPDfwMAwPDfwPgbGxsYHJy/v//PwMDA8P/138GBgYGJjCbm5uYBWIALSaB1AMl9gZGXkYGRh/A8NEA+JOEwMDAwPDfwPwPDfzP///4GBgYGJiYH8MDAwMPwPwPDfYPgHyjYkqA0DRIAAAAASUVORK5CYII=");
}

.cropper-hide {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
}

.cropper-hidden {
  display: none !important;
}

.cropper-move {
  cursor: move;
}

.cropper-crop {
  cursor: crosshair;
}

.cropper-disabled {
  opacity: .5;
  pointer-events: none;
}
